body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif,Arial, Helvetica, sans-serif;
    background-color: #818274;
     text-align: center;
     padding: 20px;
}
h1{
    color: #fff;
    font-size: 2em;
    margin: 0;
    padding: 20px;
    text-transform: uppercase;
}
img{
    border-radius: 100%;
    object-fit: cover
}
